* {
    font-size: 10px;
    box-sizing: border-box;
    color: #fff;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

/* FLEXBOX SETUP */

.row {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-12 {
    flex-grow: 1;
    flex-shrink: 1;
}


.col-2 {
    flex-basis: 16.6666667%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.3333333%;
}

.col-5 {
    flex-basis: 41.6666667%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.33333%;
}

.col-8 {
    flex-basis: 66.6666666%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.3333333%;
}

.col-12 {
    flex-basis: 100%;
}

body {
    background-color: #000;
}

header {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1150px;
}


.index_desktop_nav img {
    width: 184px; 
}

.index_desktop_nav ul {
    display: flex;
    align-items: center;
}

.index_desktop_nav li {
    font-size: 1.2rem;
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
    text-transform: uppercase;
}

.logo {
    max-height: 47px; /*fixes weird sizing of logo on iPads*/
}

nav a {
    text-decoration: none;
}

nav li:hover {
    color: rgb(203, 60, 58);
    transition: .25s;
}

.index_mobile_nav {
    display: none;
}

.gallery_3 {
    display: none;
}

/* ORDER BUTTON */

.cta_order {
    text-align: center;
    margin-top: 25px;
}

.order_button {
    letter-spacing: 1.2px;
    font-size: 42px;
    padding: 25px 46px;
    border-radius: 300px;
    width: 940px;
    border-color: rgb(8, 227, 247);
    background-color: black;
    cursor: pointer;
    transition: .25s;
}

.order_button:hover {
    background-color: gray;
    transition: .25s;
}

.cta_order p {
/*     font-family:  */
    font-size: 2rem;
    font-style: italic;
}

.hero {
    text-align: center;
}

.hero img {
    width: 1130px;
}

h4 {
    letter-spacing: 2.2px;
    color: rgb(203, 60, 58);
    font-size: 1.1rem;
    text-transform: uppercase;
}

.address {
    margin-right: auto;
    margin-left: auto;
    width: 950px;
    margin-top: 50px;
    text-align: left;
    line-height: 18.7px;
}

.address p,
.hours p{
    font-size: 1.2rem;
    letter-spacing: 2.2px;
}

.address a,
.hours a{ 
    text-underline-offset: 3px;
    font-size: inherit;
    transition: .25s;
}

.address a:hover,
.hours a:hover {
    color: rgb(203, 60, 58);
    transition: .25s;
}

.hours {
    margin-top: 50px;
    text-align: center;
}

.gallery_1 {
    text-align: center;
    margin-top: 100px;
}

.img_lrg {
    width: 643.383px;
}

.img_med {
    width: 451.153px;
    margin-bottom: 20px;
}

.about {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 1000px;
}

.about .row {
   align-items: center;
   justify-content: center;
}

h2 {
    font-size: 35px;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    letter-spacing: 1.3px;
}

.about p {
    font-size: 13px;
    width: 560px;
    margin-right: auto;
    margin-left: auto;
    line-height: 20.8px;
    letter-spacing: 2px;
}

.about a {
    font-size: inherit;
    text-underline-offset: 3px;
    transition: .25s;
}

.about a:hover {
    color: rgb(203, 60, 58);
    transition: .25s;
}

.gallery_2 ul {
    justify-content: center;
    display: flex;
}

.gallery_2 img {
    width: 211px;
}

.gallery_3 {
    text-align: center;
}


.gallery_3 img {
    max-width: 100px;
}

.gallery_2 ul li {
    list-style: none;
    margin-right: 20px;
}

footer {
    margin-top: 50px;
    line-height: 18.7px;
    text-align: center;
    letter-spacing: 1.5px;
}

footer p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

footer a {
    font-size: inherit;
}


/* MENU */

#menu_nav {
    margin-top: 50px;
    margin-bottom: 20px;
}

#menu_nav, 
#drinks_nav {
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 35px;
/*     border: 1px solid white; */
}

#menu_nav a,
#drinks_nav a {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2.2px;
    transition: .25s;
}

#menu_nav a:hover,
#drinks_nav a:hover {
    cursor: crosshair;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    color: rgb(203, 60, 58);
    transition: .25s;
}

#menu_area {
    margin-top: 50px;
    text-align: center;    
}

#menu_active {
    border-radius: 50px;
    width: 1100px;
}

/* Hide time-conditional menus by default */

#brunch_link,
#lunch_link,
#brunch_drinks_link {
    display: none;
}

span {
    color: rgb(203, 60, 58);
}

/* Media Queries */

@media (max-width: 800px) {
    body {
        margin: 0 auto;
    }    
    
    
    .index_desktop_nav {
        display: none;
    }
    
    .index_mobile_nav {
        display: block;
    }
    
    .index_mobile_nav .row {
        padding-top: 5px;
        align-items: center;
    }
    
    header {
        margin-top: 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgb(8,227,247);
        background-color: #000;
        padding-bottom: 5px;
        position: sticky;
        top: 0px;
        right: 0;
    }
    
    .hide_me {
        display: none;
    }
    
    #menu_nav,
    #drinks_nav {
        flex-direction: column;
/*         border: 1px solid white; */
    }
    
    #menu_active {
        border-radius: 0;
        width: 100%;
    }
    
    header img {
        margin-left: 15px;
        width: 120px;
    }
    
    
    .hero img{
        max-width: 90vw;
    }
    
    .gallery_1 .row {
           flex-direction: column;
    }
    
    .img_med,
    .img_lrg{
        max-width: 90vw;
    }
    
    .about .row,
    .address .row,
    .hours .row {
        flex-direction: column;
    }
    
    .about, .address {
        text-align: center;
        width: 100%;
    }
    
    .order_button {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90vw;
        font-size: 20px;
    }
    
    .bio {
        display: none;
    }
    
    .description, 
    .walking_distances {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .gallery_2 {
        display: none;
    }
    
    .gallery_3 {
        display: block;
    }
    
    .description,
    .address {
        max-width: 350px;
    }
    
    #menu_nav,
    #drinks_nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #menu_nav a,
    #drinks_nav a {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2.2px;
}
    
    #menu_nav .row,
    #drinks_nav .row {
        flex-direction: column;
    }
    
    #menu_area {
        margin-top: 15px;
    }
    
/*   mobile menu   */
    
    .nav_choices {
        display: none;
        position: absolute;
        right: 0;
        padding-right: 40px;
        padding-left: 10px;
        background-color: black;  
        border-bottom-left-radius: 20px;
    }

    .active-nav {
        display: block;
    }
    
    .nav_choice p {
        font-size: 2rem;
        text-transform: uppercase;
    }
    
    .nav_choice a {
        text-decoration: none;
        font-size: inherit;
    }
    
    #hamburger {
        cursor: pointer;
        width: 45px;
        border-radius: 5px;
        border: 2px solid white;
        transform: translateX(25px);
    }
    
    .burger_line {
        width: 25px;
        background-color: white;
        height: 2px;
        margin: 8px auto 8px auto;
    }

}